<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
{#<h1><a id="header" href="{% url 'core:country_list' %}">ECOLOGICAL MONITORING</a></h1>#}
{% block content %}
{% endblock %}

{% block footer %}
    <br>
    <hr>
     {% if request.user %}
        <h3>User -  {{ request.user.username }}</h3>
         {% if request.user.client %}
         <h3>Company - {{ request.user.client.company_name }}</h3>
             {% elif request.user.employee %}
             <h3>Employee ID - {{ request.user.employee.identifier }}</h3>
             {% else %}
         {% endif %}

    {% endif %}
    <a href="{% url 'core:logout' %}">Logout</a>

{% endblock %}
</body>
</html>