<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
</html>
<body>
    <div class="wrapper fadeInDown">
    <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"><a href="{% url 'core:login' %}">Sign In</a></h2>
    <h2 class="active">Sign Up </h2>

    <!-- Login Form -->
    <form action="{% url 'core:register' %}" method="POST">>
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="{{ form.username.name }}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="username" required>
      <input type="password" id="password1" class="fadeIn third" name="{{ form.password1.name }}" placeholder="password" required>
      <input type="password" id="password2" class="fadeIn fourth" name="{{ form.password2.name }}" placeholder="repeat password" required>
      <input type="text" id="company_name" class="fadeIn fourth" name="{{ form.company_name.name }}" value="{% if form.company_name.value %}{{ form.company_name.value }}{% endif %}" placeholder="company name" required>
      <input type="submit" class="fadeIn fifth" value="Sign Up">
    </form>
  </div>
</div>
</body>
